@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.intro {
  margin-top: 1em;
  margin-bottom: 1em;
}

header {
  background-color: grey;
}

h1 {
  text-align: center;
}

li {
  margin: 1em;
}

a {
  text-decoration: none;
  color: blue;
}

li:hover{
  background-color: blue;
  padding: 0.25em;
}

a:hover {
  color: white;
}

ol {
  padding: 0;
}

.img-flex {
  width: 100%;
  display: block;
}

.images {
  padding-top: 1em;
}

.list {
  list-style-type: none;
}

p {
  margin: 0;
  padding: 1em;
}

.p1 {
  background-color: lightgrey;
  text-align: center;
  padding: 1.5em;
}

h2 {
  text-align: center;
  background-color: lightgrey;
  padding: 1em;
  margin: 0;
}

.info {
  background-color: #eee;
}

.info2 {
  background-color: lightgrey;
}

h3 {
  padding-left: 0.75em;
  padding-top: 1em;
}

dt {
  margin-top: 1em;
}

dl {
  padding-left: 1em;
}

dd {
  margin: 0;
}

footer {
  background-color: grey;
  padding: 1em;
}

.f {
  margin: 0;
}

@media only srceen and (mid-width: 38em) {

  li a {
    display: inline-block;
  }

}
